{erl_opts, [debug_info]}.
{deps, [ {cowboy, "2.8.0"}
       , {jiffy,  "1.0.8"}
       , {cowboy_swagger, "2.2.1"}
       , {merkerl, "1.1.1"}
       , {'erlang-uuid', {git, "https://github.com/avtobiff/erlang-uuid.git", {branch, "v0.5.2"}}}
%%       , {'katt', {git, "https://github.com/for-GET/katt.git", {branch, "master"}}}
       ]}.

{shell, [
    {config, "config/dev/sys.config"},
    {apps, [cola]}
]}.

{relx, [ {release, {"cola", "0.0.1"}, [cola]}
       , {dev_mode, true}
       , {vm_args, "config/dev/vm.args"}
       , {sys_config, "config/dev/sys.config"}
       , {include_erts, false}
       , {extended_start_script, true}
      ]}.