{erl_opts, [debug_info]}.
{deps, [ {cowboy, "2.6.0"}
       , {jiffy,  "1.0.1"}
       ]}.

{shell, [
    {config, "config/dev/sys.config"},
    {apps, [cola]}
]}.

{relx, [ {release, {"cola", "0.0.1"}, [cola]}
       , {dev_mode, true}
       , {vm_args, "config/dev/vm.args"}
       , {sys_config, "config/dev/sys.config"}
       , {include_erts, false}
       , {extended_start_script, true}
      ]}.