[
  {cola,
    [ { https_port, 8443 }
    , { client_certs,
        [ { "alTWmlppKLqR6VjCPtVNtFUuLoGOz3wbVkNArKLeq+A=",       coke }
        , { "AlXeFNSFfQfa9jBTJvW67jadG3/DASyJpsZSY0I/dg0=",       pepsi }
        ]
      }
    ]
  },

  {cowboy_swagger, [
    {global_spec,
      #{openapi => "3.0.0",
        info => #{
        title => "Co-located Organization Logistics API (COLA)",
        version => "0.1"
      },
        servers => [
        #{url => "https://localhost:8443"}
      ]
      }
    }
  ]}
].